@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$main-fonts: 'Montserrat', sans-serif;

$main-title-fonts: 700 44rem/54rem $main-fonts;
$title-fonts: 700 32rem/36rem $main-fonts;
$sub-title-fonts: 500 32rem/36rem $main-fonts;
$works-title-fonts: 600 18rem/20rem $main-fonts;
$text-fonts: 400 14rem/16rem $main-fonts;
$logo-fonts: 400 32rem/26rem $main-fonts;
$nav-fonts: 400 18rem/20rem $main-fonts;
$btn-fonts: 400 18rem/20rem $main-fonts;
